.weblogo {
    width: 65px;
}

.navbar {
    background: #00000082 !important;
    width: 100%;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.y{
    background-image: url(https://pn-paul.netlify.app/image/ourimage.jpg);
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10cm;
    font-family: prague;
}

.a img{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.b img{
   height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c img{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #111215;
}

footer img {
    width: 200px;
    margin-top: 100px;
}

footer .i {
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
    color: white;
}

footer .g {
    line-height: 30px;
    word-spacing: 1px;
    font-size: 18px;
    color: aliceblue;
}